<!DOCTYPE html>
<html>
<head>
    <title>Criar conta</title>
</head>

<body>

    <h1>Criar conta de jogador</h1>

    <form action="/criar-conta" method="POST">

        <label>Login:</label>
        <input type="text" name="login" required>

        <br><br>

        <label>Senha:</label>
        <input type="password" name="senha" required>

        <br><br>

        <button type="submit">Criar conta</button>

    </form>

    <br>

    <a href="/">
        <button type="button">Voltar para o início</button>
    </a>

</body>
</html>